.DS_Store
.claude
.env
**/__pycache__
**/*.xlsx
**/*.csv
**/*.png
**/*_files
**/*.html
**/*.zip
**/*.tar.gz
data-verify/loss.txt
data-verify/validation_errors.txt
post-process/data/*
post-process/output/*
post-process/logs/*

.idea